body{
	background-color: #fafafa;
}
a:hover{text-decoration: none;color: #fff;}
.container-fluid{
	padding: 0;
	
}
.container-fluid .row{
	margin: 0;
}
/*header*/
.header-box {
	background-color: #ffffff;
	color: #29b078;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 15px;
	width: 100%;
	font-size: 7px;
}
.wechat {
	background-image: url(images/wechat.png);
	height: 24px;
	width: 25px;
}
.qq {
	background-image: url(images/qq.png);
	height: 24px;
	width: 25px;
	margin: 0 0 0 10px;
}
.weibo {
	background-image: url(images/weibo.png);
	height: 24px;
	width: 25px;
	margin: 0 0 0 10px;
}
.header-img {
	display: flex;
	transform: scale(.5,.5);
}
.header p {
	margin: 0;
}
.header {
	position: fixed;
    top: 0;
    background-color: #fafafa;
    width: 100%;
    z-index: 16;
}

.login {
	display: none;
	float: right;
	margin: 5px 0;
}
.login-left {
	border-right: 1px solid #29b078;
}
.login-left,
.login-right {
	padding: 0px 6px;
	color: black;
}
.login-left:hover,.login-right:hover{
	color: black;
}
@media (max-width: 576px) {
	.header-img {
		display: none;
	}
	.header-box p {
		visibility: hidden;
	}
	.login {
		display: block;
	}
}

/*nav*/
.navbar{
	display: flex;
	padding: 0;
	width: 100%;
	background-color: #1db176;
	position: fixed;
	z-index: 99;
	top: 35px;
}
.logo{
	background: url(images/LOGO.png);
	width: 54px;
	height: 25px;
	background-size: 54px 25px;
	margin-left: 10px;
}
.navbar-toggler-icon{
	width: 18px;
	height: 12px;
	padding: 3.6px 0;
	margin: 13px 10px 13px 0;
	border-top: 1.5px solid #1d7b54;
	border-bottom: 1.5px solid #1d7b54;
	background-color: #1d7b54;
	background-clip: content-box;
}
.navbar-toggler:visited,
.navbar-toggler:focus{
	outline: transparent;
}
@media (min-width: 576px) {
	.logo {
		display: none;
	}
}
@media(min-width: 576px){
	.collapse{
	display: flex;
	justify-content: flex-end;
}
}

@media(max-width: 576px){
	.navbar-nav{
	display: flex;
	justify-content: center;
	text-align: center;
	}
}
.navbar-nav{
	margin-right: 25px;
}

.nav-item>a{
	border-bottom: 2px solid #1db176;
	padding: 16px;
	margin: 0 7px;
	color: #fff;
	font-size: 8px;
}
.nav-item>a:hover,.active-line>a{
	border-bottom: 2px solid #fff;
}

/*main*/
.main{
	position: relative;
	width: 100%;
	padding-left: 15px;
	padding-right: 45px;
	top: 82px;
	
}
@media(max-width:576px){
	.main{
		padding-right: 15px;
	}
}
.main-locate{
	padding-top: 20px;
	margin-bottom: 15px;
	font-size: 8px;
}
.main-locate a,.main-locate a:hover{
	color: #1db176;
}

.position-direction{
	font-size: 7px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #edf1f2;
	padding: 10px 0;
	position: relative;
}

.position-direction a:hover{
	color: #fff;
	background-color: #1db176;
}
.direction{
	color: #999999;
	margin: 0;
}
.pos-all{
	color: #fff;
	background-color: #1db176;
}
.position{
	color: #333333;
}

.position-title{
	font-size: 8px;
	padding: 17px 0;
	border-bottom: 1px solid #d0d6d9;
}
.zhiwei{
	display: flex;
	justify-content: center;
}
.position-content{
	border-radius: 5px;
	background-color: #fff;
	margin-top: 25px;
	border: 1px solid #edf1f2;
	position: relative;
	
}

.cover{
	background-color: rgba(0,0,0,.76);
	border-radius: 5px;
	color: #fff;
	position: absolute;
	display: flex;
	height: 100%;
	display: none;
	font-size: 8px;
	padding: 25px 20px;
}
.cover p{
	margin: 0;
	padding-top: 20px;
}
.position-content:hover .cover{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}
.pcml{
	margin-left: 15px;
	}	

.position-head{
	padding-top: 10px;
	margin-left: 4px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px;
	border-bottom: 1px solid #edf1f2;
	
}
.pohead{
	width: 78px;
	height: 78px;
	background:url(images/pohead.png) no-repeat center;
	background-size: 78px 78px;
	width: 40%;
}
.pohead-content{
	
	width: 60%;
	margin-right: 7px;
	margin-left: 6px;
}
.pohead-content strong{
	font-size: 8px;
}
.pohead-content p{
	margin-top: 10px;
	font-size: 7px;
}
.level1 ,.level2,.level3 ,.level4{
	font-size: 6px;
	border-bottom: 1px solid #edf1f2;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 4px;
	color: #999999;
	display: flex;
	justify-content: flex-start;
}
.level5{
	font-size: 6px;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 4px;
	color: #999999;
	display: flex;
	justify-content: flex-start;
}
.level1 p,.level2 p,.level3 p,.level4 p,.level5 p{
	margin: 0;
}
.threshold ,.grow-up{
	border-right: 1px solid #edf1f2;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 50%;
}
.degree,.rare-degree{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 7px;
}
.star{
	background: url(images/star.png);
	width: 8px;
	height: 6.5px;
	background-size: 8px 6.5px;
	margin-left: 7px;
}
.grow-up span,.rare-degree span{
	color: red;
	margin-left: 7px;
}
.b{
	color: #333333;
}
.money{
	border-right: 1px solid #edf1f2;
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: center;

}
.year-money{
	width: 60%;
	align-items: center;
	margin-left: 7px;
	margin-right: 7px;
}
.y{	
	padding: 5px 7px 5px 12px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-bottom: 1px solid #edf1f2;
	color: #333;
}
.yl{
	padding: 5px 7px 5px 12px;
	display: flex;
	justify-content: space-between;
	color: #333;
}
.level4{
	font-size: 7px;
	color: #333;
}
.level4 span{
	color: red;
}
@media(max-width: 576px){
	.zhiwei{
		display: flex;
		flex-direction: column;
	}
	.pcml{
		margin-left: 0;
	}
}
/*footer*/
.footer{
	background-color: #1ba36e;
	color: #fff;
	font-size: 8px;
	top: 115px;
	position: relative;
	width: 100%;

}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer p{
	margin-bottom: 0;
}
.footer1{
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 60px;
	margin-bottom: 18px;
}
.us{
	padding-top: 45px;
}
.us-line{
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 0 4px;
	margin: 0 3px;
}
.al{
	margin-top: 15px;
}
.al-l{
	margin-left: 20px;
}
.about-wechat p{
	font-size: 8px;
}

.aw-img{
	background: url(images/erweima.png);
	width: 46px;
	height: 46px;
	background-size: 46px 46px;
}
.column{
	flex:1;
}
.about-link{
	padding-left: 10%;
}
.about-wechat{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.column+.column{margin-left:20px;}
.footer2{
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	border-top: 1px solid #26c184;
}
@media(max-width: 576px){
	.footer1{
		display: flex;
		flex-direction: column;
		margin-left: 35%;
	}
	.about-link{
		padding: 0;
	}
	.column+.column{
		margin-left:0;
		margin-top: 10px;
	}
	.about-wechat{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
}