body{
	background-color: #fafafa;
}
a:hover{text-decoration: none;}
.container-fluid{
	padding: 0;
	
}
.container-fluid .row{
	margin: 0;
}
/*header*/
.header-box {
	background-color: #ffffff;
	color: #29b078;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 15px;
	width: 100%;
	font-size: 7px;
}
.wechat {
	background-image: url(images/wechat.png);
	height: 24px;
	width: 25px;
}
.qq {
	background-image: url(images/qq.png);
	height: 24px;
	width: 25px;
	margin: 0 0 0 10px;
}
.weibo {
	background-image: url(images/weibo.png);
	height: 24px;
	width: 25px;
	margin: 0 0 0 10px;
}
.header-img {
	display: flex;
	transform: scale(.5,.5);
}
.header p {
	margin: 0;
}
.header {
	position: fixed;
    top: 0;
    background-color: #fafafa;
    width: 100%;
    z-index: 16;
}

.login {
	display: none;
	float: right;
	margin: 5px 0;
}
.login-left {
	border-right: 1px solid #29b078;
}
.login-left,
.login-right {
	padding: 0px 6px;
	color: black;
}
.login-left:hover,.login-right:hover{
	color: black;
}
@media (max-width: 576px) {
	.header-img {
		display: none;
	}
	.header-box p {
		visibility: hidden;
	}
	.login {
		display: block;
	}
}

/*nav*/
.navbar{
	display: flex;
	padding: 0;
	width: 100%;
	background-color: #1db176;
	position: fixed;
	z-index: 99;
	top: 35px;
}
.logo{
	background: url(images/LOGO.png);
	width: 54px;
	height: 25px;
	background-size: 54px 25px;
	margin-left: 10px;
}
.navbar-toggler-icon{
	width: 18px;
	height: 12px;
	padding: 3.6px 0;
	margin: 13px 10px 13px 0;
	border-top: 1.5px solid #1d7b54;
	border-bottom: 1.5px solid #1d7b54;
	background-color: #1d7b54;
	background-clip: content-box;
}
.navbar-toggler:visited,
.navbar-toggler:focus{
	outline: transparent;
}
@media (min-width: 576px) {
	.logo {
		display: none;
	}
}
@media(min-width: 576px){
	.collapse{
	display: flex;
	justify-content: flex-end;
}
}

@media(max-width: 576px){
	.navbar-nav{
	display: flex;
	justify-content: center;
	text-align: center;
	}
}
.navbar-nav{
	margin-right: 25px;
}

.nav-item>a{
	border-bottom: 2px solid #1db176;
	padding: 16px;
	margin: 0 7px;
	color: #fff;
	font-size: 8px;
}
.nav-item>a:hover,.active-line>a{
	border-bottom: 2px solid #fff;
}
/*banner*/
.banner{
	position: relative;
	top: 77px;
}
.banner .img-resposive{
	width: 100%;
}

/*main*/

.main{
	position: relative;
	width: 100%;
	height: auto;
	top: 77px;
	/*left: 19%;*/
	padding-left: 15px;
	padding-right: 15px;
}
.main-locate{
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 8px;
}
.main-locate a,.main-locate a:hover{
	color: #1db176;
}
	/*合作企业*/
.cooperative{
	display: flex;
	justify-content: space-between;
	padding: 0;
}
/*左部分*/
.cooperative-enterprise{
	background-color: #fff;
	/*position: absolute;*/
	top: 50px;
	width: 150px;
	border: 1px solid  #e6e6e6;
	border-radius: 5px;
	margin-right: 15px;

}
.cooperative-enterprise ul{
	padding: 0;
}
.enterprise-list{
	padding-left: 50px;
}

.co-en{
	font-size: 8px;
	padding-top:10px;
	padding-bottom: 15px;
	border-bottom: 0.5px solid #e6e6e6;
	list-style-type:none;
	text-align: center;
}
.enterprise-list{
	color: #1db176;
	font-size: 7px;
	margin-top: 20px;
	list-style:square inside url(images/point1.png);
}

.cooperative-enterprise a li:hover,
.cooperative-enterprise a li:visited{
	color: #ff6500;
	list-style: square inside url(images/point2.png);
}
	/*右部分*/
.enterprise-content{
	flex: 1;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	/*padding: 10px 35px;*/
	font-size: 7px;
	color: #999999;
	
}

.ec-head{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 35px 15px 35px;
}
.ech-img{
	margin-right: 10px;
	
}
.ech-img img{
	width: 61px;
}
.ec-middle{
	text-indent:20px;
}
.ec-middle{
	margin: 15px 35px 90px 35px;

}
@media(max-width: 576px){
	.main{
		left: 0;
		padding-right: 15px;
		padding-left: 15px;
		width: 100%;
	}
	.cooperative{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.cooperative-enterprise{
		width: 100%;
		margin: 0;
	}
	.enterprise-list{
		padding-left: 45%;

	}
	
}
/*footer*/
.footer{
	background-color: #1ba36e;
	color: #fff;
	font-size: 8px;
	top: 115px;
	position: relative;
	width: 100%;

}
.footer a{
	text-decoration: none;
	color: #fff;
}
.footer p{
	margin-bottom: 0;
}
.footer1{
	display: flex;
	padding-top: 20px;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 60px;
	margin-bottom: 18px;
}
.us{
	padding-top: 45px;
}
.us-line{
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 0 4px;
	margin: 0 3px;
}
.al{
	margin-top: 15px;
}
.al-l{
	margin-left: 20px;
}
.about-wechat p{
	font-size: 8px;
}

.aw-img{
	background: url(images/erweima.png);
	width: 46px;
	height: 46px;
	background-size: 46px 46px;
}
.column{
	flex:1;
}
.about-link{
	padding-left: 10%;
}
.about-wechat{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.column+.column{margin-left:20px;}
.footer2{
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	border-top: 1px solid #26c184;
}
@media(max-width: 576px){
	.footer1{
		display: flex;
		flex-direction: column;
		margin-left: 35%;
	}
	.about-link{
		padding: 0;
	}
	.column+.column{
		margin-left:0;
		margin-top: 10px;
	}
	.about-wechat{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
}