<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- angular -->
    <script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.min.js"></script>

    <link rel="stylesheet" href="index.css">
    <title>登陆</title>
</head>
<body>
    <div ng-app="indexApp" ng-controller="indexCtrl" class="main">
        <form action="">
            <fieldset>
                <legend>后台登陆</legend>
                <div class="text">
                    <img src="images/person.png">
                    <input ng-model="nameModel" type="text" name="name" placeholder="账号" id="uname">
                </div>
                <span></span>
                <!-- <p>{{nameModel}}</p> -->
                <div class="password">
                    <img src="images/locked.png">
                    <input ng-model="pwdModel" type="password" name="pwd" placeholder="密码" id="pwd">
                </div>
                <span></span>
                <!-- <p>{{pwdModel}}</p> -->
                <!-- <button type="button">登陆</button>  -->
                <input ng-click="loginClick()" type="button" value="登陆" id="btn">
            </fieldset> 
        </form>
    </div>
 <!-- <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script> -->
<!-- <script src="jquery-3.2.1.min.js"></script> -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="index.js"></script>
</body>
</html>