*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	background: #ffffff;
}
button{
	border: 0.1rem solid #5ac0ce;
	border-radius: 0.5rem;
	height: 4.4rem;
	font-size: 1.7rem;
	outline: none;
}
a:link,
a:hover,
a:active,
a:visited,
a:focus {
    color: #fff;
    text-decoration: none;
}

.index{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #5ac0ce;
	color: #fff;
	height: 4.2rem;
	line-height: 4.2rem;
	z-index: 999;
}
 .left{
	float: left;
	margin-left: 1.5rem;
}
.title{
	margin: 0 3rem;
	font-size: 1.8rem;
	text-align: center;
}

main{
	position: absolute;
	width: 100%;
	top: 4.2rem
}
.content{
	height: auto;
}
.info{
	position: relative;
}
.bg{
	height: 16.4rem;
	background: url(images/bg.png) no-repeat center;
	background-size: 100% 100%;
}
.person{
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	height: 
}
.head{
	width: 8.5rem;
	height: 8.5rem;
	margin: 4rem 1.5rem;
}
.detail{
	/*flex: 1;*/
	color: #fff;
	/*margin-left: 0rem;*/
}
.name{
	font-size: 1.8rem;
	margin-bottom: 0.6rem;
	display: inline-block;
}
.age{
	font-size: 1.4rem;
	margin-bottom: 0.6rem;
	margin-left: 1rem;
	display: inline-block;
}
.location{
	font-size: 1.2rem;
}
.location img{
	width: 0.9rem;
	height: 1.2rem;
	vertical-align: middle;
}
.skill{
	font-size: 1.6rem;
}
.stitle{
	height: 5rem;
	line-height: 5rem;
	border-bottom: 0.1rem solid #e1e5e7;
}
.stitle span{
	margin-left: 1.5rem;
	border-left: 0.2rem solid #5fc0cd;
	padding-left: 1.5rem;
	font-size: 1.6rem;
}
.scontent{
	margin: 0 3rem;
}
.scondition{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 5rem;
	line-height: 5rem;
	border-bottom: 0.1rem solid #e1e5e7;

}
.scondition img{
	height: 1.25rem;
	width: 1.25rem;
	margin: 0 0.5rem;
}
.line{
	border-right: 0.1rem solid #e1e5e7;
	height: 1.4rem;
	margin-left: 0.5rem;
}
.srow{
	display: flex;
	padding: 1.8rem 0;
	border-bottom: 0.1rem solid #e1e5e7;
}
.srow label{
	padding: 0 0.5rem;
	border-right: 0.1rem solid #e1e5e7;
	color: #999;
}
.srow span{
	flex: 1;
	padding-left: 0.5rem;
	display: inline-flex;
}
.price{
	color: #e46060;
}


footer{
	position: fixed;
	display: flex;
	width: 100%;
	bottom: 0.5rem;
	padding: 1.4rem 0;
	background-color: #fff;
}
.lmsg{
	flex: 1;
	margin: 0 0.5rem 0 1rem;
	color: #5fc0cd;
	background-color: #fff;
}
.contect{
	flex: 1;
	margin: 0 0.5rem 0 1rem;
	color: #fff;
	background-color: #5fc0cd;
}