a:hover,a:visited,a{
	color: #212529;
	text-decoration: none;
}
.cheader{
	width: 100%;
	padding: 0;
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 99;
}
/*header*/
.header{
	background-color: #fff;
	display: flex;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	padding: 0 19%;
	
}
.row{
	justify-content: center;
}
	
.hotline{
	margin: 0;
	padding: 7px 0;
	color: #1db176;
	font-size: 7px;
}
.share-group{
	margin-top: 4px;
	font-size: 0;
	right: 0;
}
.wechat>img,.qq>img,.weibo>img{
	width: 14px;
	background-size: 14px 12px;
}
.qq>img, .weibo>img{
	margin-left: 9px;
}

/*nav*/
.navbar{
	display: flex;
	padding: 0;
	justify-content: flex-end;
	width: 100%;
	background-color: #1db176;
	position: fixed;
	z-index: 99;
	top: 29px;
}
.navbar-nav{
	margin-right: 17%;
}

.nav-item>a{
	border-bottom: 2px solid #1db176;
	padding: 16px;
	margin: 0 7px;
	color: #fff;
	font-size: 8px;
}
.nav-item>a:hover,
.nav-item>a:visited{
	border-bottom: 2px solid #fff;
}
/*carousel*/
.carousel{
	display: flex;
	position: relative;
	top: 77px;
}
.carousel-indicators{
	bottom: 10px;
	margin-bottom: 0;
}
.carousel-indicators>li{
	width: 8px;
	height: 8px;
	border-radius: 50%;

}
 .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .carousel-control-prev-icon ,.carousel-control-next-icon{
  	width: 13px;
  	height: 26px;

  }

  /*main*/
 .main{
  	background-color: #fafafa;
  	width: 100%;
  	height: auto;
  	overflow: hidden;
  	padding: 0;
  	display: flex;
  	position: relative;
  	justify-content: center;
  	top: 77px;
  }
.advantage{
  	width: 63%;
  	padding-top: 82px;
  	/*align-items: baseline;*/
  }

.advantage-content{
  	text-align: center;
  	padding: 0;
  	padding:0  15px;
  	
  }

.rocket{
	background: url(images/rocket.png) no-repeat center;
	height: 31px;
	background-size: 22px 31px;

}
.archive{
	background: url(images/archive.png) no-repeat center;
	height: 24px;
	background-size: 30px 24px;
}
.Shape-253{
	background: url(images/Shape-253.png) no-repeat center;
	height: 28px;
	background-size: 26px 28px;
}
.advantage-content>strong{
  	font-size: 9px;
  	position: relative;
  
  }
.advantage-content .a-content{
  	font-size: 8px;
  	color: #999999;
  	
  }

  .total{
  	display: flex;
  	align-items: center;
  	margin-top: 17px;
  }

 .user{
 	background: url(images/user.png);
 	width: 7px;
 	height: 7px;
 	background-size: 7px  7px;display: inline-block;
 }
.user-num{
	margin-bottom: 0;
	padding-left: 7px;
	font-size: 9px;
	color: #1ba36e;
}
.total-num{
	margin-bottom: 0;
	padding-top: 10px;
	font-size: 9px;
	color: #999999;
}
.line{
	border-right: 0.5px dashed #e5e5e5;
}

/*如何学习*/
.how-to-study,.main-graduate{
	position: relative;
	display: flex;
	top: 77px;
	background-color: #fafafa;
	padding-top: 40px;
	justify-content:center;
}
.hmain,.gmain{
	margin: 0;
	padding: 0;
	width: 63%
	
}
.arrow{
	background: url(images/arrow.png);
	width: 16px;
	height: 15px;
	background-size: 16px 15px;
}
.arrow-blank{
	width: 30px;
}
.img-circle{
	width: 30px;
	height: 30px;
	background: #fff;
	color: #29b078;
	text-align: center;
	line-height: 30px;
	box-shadow: 0 0 1px grey;
	border-radius: 50%;
}
.study-box{
	display: inline-flex;
	align-items: center;
}
.study-col{
	display: flex;
	justify-content: center;
	margin: 5px 0;
}
.study-box span{
	width: 84px;
	margin: 0 6px;
	font-size: 7px;
	color: #999999;
}
.htitle strong{
	font-size: 9px;
	color: #333333;
}


/*优秀学员展示*/
.good-student{
	background-color: #fafafa;
	position: relative;
	top: 76px;
	display: flex;
	padding: 60px 17%;
	font-size: 0;
	width: 100%;
	justify-content: center;
}
.stu-title{
	text-align: center;
	font-size: 9px;

}
.stum{
	margin-left:20px; 
}
.stu-box{
	display: inline-block;
	width: 134px;
	background-color: #fff;
}

.stu-box .img{
	width: 54px;
	height: 54px;
	border-radius: 50% 50%;
	background-size: 54px 54px;
	margin: 10px 35px;
}
.stu1{
	background: url(images/Avatar.jpg);
}
.stu2{
	background: url(images/Avatar1.jpg);
}
.stu3{
	background: url(images/Avatar2.jpg);
}
.stu4{
	background: url(images/Avatar3.jpg);
}
.name-stu{
	font-size: 9px;
	text-align: center;
	padding: 0 25px;
}
.content-stu{
	font-size: 8px;
	color: #999999;
	padding: 16px;
}
/*战略合作企业*/
.main-company{
	position: relative;
	top: 76px;	
	background-color: #fafafa;
	height: 280px;
	
}
.main-company .container{
	width: 63%;
}
.text-center{
	font-size: 9px;
	margin-top: 65px;
}
.alibaba {
	background-image: url(images/alibaba.png);
	height:86px;
	width:92px;
	background-size: 92px 90px;
}
.JS {
	background-image: url(images/jinshanyun.png) ;
	height:69px;
	width:119px;
	background-size: 119px 69px;
}
.HX {
	background-image: url(images/huanxin.png);
	height:35px;
	width:67px;
	background-size:67px 35px;
}
.RL {
	background-image: url(images/ronglian.png) ;
	height:84px;
	width:96px;
	background-size:96px 96px;
}
.QN {
	background-image: url(images/qiniu.png);
	height:62px;
	width:62px;
	background-size:62px 62px;
	padding: 20px;
}

@media (min-width: 992px){
	.company-col{
		display: flex;
	}
}
.company-col {
    margin-top: 35px;
    height: 90px;
	padding: 0;
	background-color: #fff;
}
.company-box {
	width: 120px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.company-box:hover {
    box-shadow: 0 0 10px grey;
}



/*友情链接*/
.main-link{
	position: relative;
	top: 40px;
}
.main-link .container{
	width: 63%
}
.main-link a {
	color: #999;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.main-link a:hover {
	border-bottom: 1px solid #26a26f;
}

.main-link {
	background-color: #fff;
	padding: 30px 0 10px 0;
}
.link-box img {
	margin: 5px;
}
.link-box {
	font-size: 7px;
	display: flex;
	justify-content: center;
}
.strong{
	padding-bottom: 15px;
	font-size: 9px;
	line-height: 9px;
	margin: 0;
}


/*FOOTER*/
.footer {
	background-color: #26a26f;
	color: #fff;
	font-size: 8px;
	position: relative;
	top: 41px;
	padding-bottom: 15px;
}
.footer .container{
	width: 63%;
}
.QRcode {
	background-image: url(images/erweima.png);
	height:46px;
	width:46px;
	background-size:46px 46px;
	display: inline-block;
	margin-left: 6px;
}
.footer-a:link,
.footer-a:visited,
.footer-a:hover,
.footer-a:active {
	color: white;
	text-decoration-color: #fff;
}
.footer-a {
	margin-right: 10px;
	padding-right: 10px;
}
.footer-a-1 {
	border-right: 2px solid #fff;
}
.footer-p,
.move-2 {
	padding-top: 20px;
}
.move-1 {
	padding-top: 60px;
}



/*COPYRIGHT*/
.copyright{
	background-color: #26a26f;
	border-top: 1px solid #27c184;
	color: #fff;
	text-align: center;
	padding: 10px;
	font-size: 5px;
	position: relative;
	top: 41px;
}